PORT = 3000
# META / WHATSAPP CLOUD
VERIFY_TOKEN = TEST_TOKEN
WHATSAPP_TOKEN = TEST_TOKEN_WHATSAPP
PHONE_NUMBER_ID = TEST_PHONE_NUMBER_ID
GRAPH_VERSION = v20.0

# PARA VALIDAR FIRMA DEL WEBHOOK (META APP SECRET)
META_APP_SECRET = ''

#DB
MONGODB_URI = ''

# Teléfono de contacto mostrado al cliente cuando su número de crédito no se encuentra/no corresponde
CONTACTO_TEL = ''
